<mat-toolbar class="livestream-toolbar">
  <mat-toolbar-row>
    <div class="d-flex justify-content-start mr-4">
      <img src="../assets/img/logo/PaulyDCam_Icon.png" height="45">
    </div>
    <div class="spacer"></div>
    <mat-chip-list>
      <mat-chip (click)="toggleSidenav()" [ngClass]="shouldShowSidenav ? 'enabled-element' : 'disabled-element'">
        <mat-icon class="m-1">chat</mat-icon><span class="m-1">Chat</span>
      </mat-chip>
    </mat-chip-list>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="stream-container">
  <mat-drawer class="sidenav-side" mode="side" position="end" [opened]="shouldShowSidenav">
    <iframe src="https://www.twitch.tv/embed/paulydcam/chat?darkpopout" class="stream-chat" frameborder="0"
      scrolling="no" width="350"></iframe>
  </mat-drawer>
  <mat-drawer-content class="sidnav-content d-flex justify-content-center">
    <iframe src="https://player.twitch.tv/?channel=paulydcam" class="stream-video" frameborder="0"
      allowfullscreen="true"></iframe>
  </mat-drawer-content>
</mat-drawer-container>