<mat-drawer-container class="stream-container" style="background-color: #0f0e11;">
  <mat-drawer mode="side" position="end" style="background-color: #0f0e11;" [opened]="isSidenavVisible">
    <iframe src="https://www.twitch.tv/embed/paulydcam/chat?darkpopout" class="stream-chat" frameborder="0"
      scrolling="no" width="350"></iframe>
  </mat-drawer>
  <mat-drawer-content style="overflow: hidden;">
    <iframe src="https://player.twitch.tv/?channel=paulydcam" class="stream-video" frameborder="0"
      allowfullscreen="true"></iframe>

  </mat-drawer-content>
</mat-drawer-container>