<mat-toolbar class="livestream-toolbar">
  <mat-toolbar-row>
    <div class="d-flex justify-content-start">
      <img src="../assets/img/logo/PaulyDCam_Icon.png" height="45">
    </div>
    <div class="spacer"></div>
    <mat-chip-list>
      <mat-chip>
        <mat-icon style="margin-right:2px;">photo_camera</mat-icon> Take Photo
      </mat-chip>
    </mat-chip-list>
    <div class="spacer"></div>
    <button mat-button>
      <mat-icon (click)="toggleSidenav()">photo_library</mat-icon>
    </button>
    <button mat-button>
      <mat-icon (click)="toggleSidenav()">chat</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="stream-container">
  <mat-drawer class="sidenav-container" mode="side" position="end" [opened]="shouldShowSidenav">
    <iframe src="https://www.twitch.tv/embed/paulydcam/chat?darkpopout" class="stream-chat" frameborder="0"
      scrolling="no" width="350"></iframe>
  </mat-drawer>
  <mat-drawer-content>
    <iframe src="https://player.twitch.tv/?channel=paulydcam" class="stream-video" frameborder="0"
      allowfullscreen="true"></iframe>
  </mat-drawer-content>
</mat-drawer-container>